[flake8]
max-line-length = 88
ignore = E203, E266, E501, W503
exclude = 
    .git,
    __pycache__,
    node_modules,
    migrations,
    app/static,
    tests,
    .venv,
    .devcontainer
per-file-ignores =
    app.py: E402, F403
